.checkout-page {

	.main {
		padding-bottom: 84px;
	}


	.checkout {
		&__header {
			margin: 48px 0;

		}

		.timer-mob {
			display: none;

			@media screen and (max-width: 1024px) {
				display: block;
			}
		}
		

		&__form {
			display: flex;
			justify-content: space-between;
			gap: 29px;

			@media screen and (max-width: 1024px) {
				flex-direction: column;
			}

			button[type="submit"] {
				background: var(--primary);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 12px;
				padding: 14px;
				gap: 13px;
				transition: all .3s ease;

				&:hover {
					background: var(--shade-5);
				}

				span {
					color: var(--white);
				}
				svg,
				img {
					width: 30px;
					height: 30px;
				}
			}

			.form__send {
				display: flex;
				align-items: center;
				gap: 16px;
				p {
					font-size: 20px;
					color: var(--black);
				}
			}

			.form__checkbox {
				// input {
				// 	display: none;
				// }
				// label {
				// 	display: flex;
				// 	gap: 16px;
				// 	color: var(--black);
				// 	font-size: 13px;
				// 	&:before {
				// 		content: '';
				// 		border: 2px solid var(--primary);
				// 		min-width: 20px;
				// 		width: 20px;
				// 		height: 20px;
				// 		display: block;
				// 		border-radius: 3px;
				// 		transition: all .3s ease;
				// 		background-position: center;
				// 	}
				// }
				// input:checked + label:before {
				// 	background: url('./../img/icon/check-blue.svg') no-repeat var(--accent) center;
				// 	border: 2px solid transparent;
				// }
			}

			.form__additional {
				display: flex;
				flex-direction: column;
				gap: 39px;

				p {
					font-size: 18px;
				}

				.free {
					background: #D4DEF0;
					border-radius: 8px;
					padding: 7px 12px;
					font-size: 12px;
					color: var(--black);
				}

				input {
					display: none;
				}

				.checkbox {
					label {
						display: flex;
						align-items: center;
						color: var(--black);
						font-size: 18px;
					}
				}

				.bottom {
					display: flex;
					justify-content: space-between;
				}
			}

			textarea {
				resize: none;
				padding: 18px 21px;
				border-radius: 9px;
				width: 100%;
				border: 1px solid #CCCCCC;
				height: 159px;
			}

			.fields-attention {
				margin-bottom: 29px;
			}

			.fields {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 56px;
				grid-row-gap: 21px;

				@media screen and (max-width: 576px) {
					grid-template-columns: 1fr;	
				}

				.label__title {
					margin-bottom: 14px;
					display: block;
					font-size: 18px;
					line-height: 27px;
				}

				.input {
					height: 50px;
					input {
						height: auto;
					}
					.arrow {
						border-left: 1px solid #CCCCCC;
						background: var(--white);
						path{
							fill: #CCCCCC;
						}
					}
				}

				input {
					border: 1px solid #CCCCCC;
					border-radius: 9px;
					padding: 18px 21px;
					width: 100%;
					font-size: 16px;
					color: #4D4D4D;
					height: 50px;
					line-height: 27px;
					@media screen and (max-width: 576px) {
						padding: 10px 21px;	
					}
				}

				.clear-label {
					display: flex;
					flex-direction: column;
					input {
						border: none;
						padding: 0;
						margin-right: -22px;
					}
				}
			}

			.inner-title {
				display: flex;
				align-items: center;

				@media screen and (max-width: 576px) {
					flex-wrap: wrap;
					gap: 22px;
				}

				h3 {
					font-size: 30px;
					margin-right: auto;
					@media screen and (max-width: 576px) {
						font-size: 25px;	
					}
				}
				h4 {
					font-size: 25px;
					font-weight: 600;
					@media screen and (max-width: 576px) {
						font-size: 21px;	
					}
				}

				.buttons {
					display: flex;
					align-items: center;
					gap: 22px;

					@media screen and (max-width: 576px) {
						flex-direction: column;
						align-items: flex-start;
					}

					input {
						display: none;
					}

					label {
						border: 1px solid var(--accent);
						color: var(--black);
						font-size: 18px;
						font-weight: 600;
						border-radius: 12px;
						padding: 14px 26px;
						transition: all .3s ease;
						cursor: pointer;

						&:hover {
							background: var(--accent);
						}

						@media screen and (max-width: 576px) {
							padding: 9px 22px;	
						}
					}

					input:checked + label {
						background: var(--tint-2);
						color: var(--white);
						border: 1px solid transparent;
					}
				}
			}

			aside {
				display: flex;
				flex-direction: column;
				gap: 29px;
			}

			.contacts {
				display: grid;
				gap: 9px;
			}

			.phone {
				display: flex;
				align-items: center;
				gap: 16px;
				img,
				svg {
					width: 36px;
				}

				a {
					background: transparent;
					box-shadow: none;
					color: var(--tint-2);
					&:after {
						display: none;
					}
				}
			}

			.schedule {
				background: #ECECEC;
				padding: 13px;
				border-radius: 10px;
				ul {
					display: grid;
					gap: 10px;
				}
				strong {
					font-weight: 500;
				}
				i {
					font-size: 14px;
				}
				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}

			a.email {
				background: transparent;
				box-shadow: none;
				display: flex;
				align-items: center;
				gap: 16px;
				img,
				svg{
					width: 32px;
				}
				span {
					color: var(--tint-2);
					font-weight: 400;
					position: static;
					transform: translate(0, 0);
					width: fit-content;
				}
				&:after {
					display: none;
				}
			}

			.aside-block {
				padding: 20px 33px;
				background: var(--white);
				box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.07);
				border-radius: 10px;

				h3 {
					font-size: 21px;
					font-weight: 600;
					margin-bottom: 26px;
				}

				ul {
					display: grid;
					gap: 9px;
					svg,
					img {
						min-width: 32px;
					}
					li {
						display: flex;
						align-items: flex-start;
						gap: 16px;
					}
					span {
						font-size: 18px;
					}
				}

				&.info {
					h3 {
						color: var(--error);
					}
				}
				&.contacts,
				&.about {
					h3 {
						color: var(--primary);
					}
				}
			}

			.time{
				display: flex;
				justify-content: space-between;
				align-items: center;
				justify-content: space-between;

				gap: 10px;
				span {
					max-width: 244px;
				}


				#flipdown {
					width: fit-content;
					display: flex;
					align-items: center;
					height: auto;
					.rotor-group-heading {
						display: none;
					}
					.rotor-group:nth-child(2),
					.rotor-group:first-child {
						display: none;
					}

					.rotor-leaf-front,
					.rotor-leaf-rear,
					.rotor-bottom,
					.rotor-top {
						font-family: inter;
						font-weight: 400;
					}

					.rotor-leaf.flipped .rotor-leaf-rear,
					.rotor-bottom,
					&.flipdown__theme-light .rotor-bottom, .flipdown.flipdown__theme-light .rotor-leaf-rear {
						background: var(--white);
					}

					.rotor {
						box-shadow: 4px 4px 35px 0px rgba(#A6ABBD, .46);
						&:after {
							border-top-color: #C7C7C7;
						}
						.rotor-top {
							background: #F6F6F6;
						}
					}
					&.flipdown__theme-light .rotor-leaf-front {
						background: #F6F6F6;
					}

				}
			}

			.form__rht {
				max-width: 495px;
				width: 100%;

				.time {
					@media screen and (max-width: 576px) {
						display: none;
					}
				}
			}
			.form__lft {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 26px;
				.inner-block {
					box-shadow: 3px 5px 6px 2px rgba(0, 0, 0, 0.07);
					border-radius: 11px;
					padding: 20px 33px;
					background: var(--white);

					@media screen and (max-width: 576px) {
						padding: 20px 13px;	
					}
				}
			}

			li.line{
				background: var(--black);
				width: 100%;
				height: 1px;
			}

			.item__price {
				background: #ECECEC;
				border-radius: 10px;
				padding: 12px 23px;
				ul {
					gap: 12px;
					display: flex;
					flex-direction: column;
				}
				* {
					font-size: 17px;
				}
				li {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}

			.order__item {
				display: flex;
				gap: 22px;

				.item__liga {
					color: var(--black);
					background: var(--accent);
					width: fit-content;
					padding: 2px 11px;
					border-radius: 10px;
					font-size: 13px;
				}

				h2 {
					font-size: 29px;
					margin: 0;
				}

				.item__time {
					display: flex;
					gap: 19px;
				}

				.item__mini-info {
					display: flex;
					justify-content: space-between;

					.lft__item,
					.rht__item {
						display: flex;
						align-items: center;
						gap: 10px;
					}

					.rht,
					.lft {
						width: fit-content;
						display: flex;
						flex-direction: column;
						gap: 6px;
					}
				}

				.item__location {
					color: var(--black);
					font-size: 19px;
					span {
						color: #717171;
					}
				}

				.item__info {
					display: flex;
					flex-direction: column;
					width: 100%;
					gap: 12px;
				}

				.item__photo {
					max-width: 353px;
					width: 100%;

					@media screen and (max-width: 576px) {
						display: none;	
					}
				}
			}

			.attention {
				background: #EFCFCE;
				border-left: 5px solid var(--error);
				display: flex;
				align-items: center;
				padding: 13px 21px;
				border-radius: 14px;
				gap: 14px;
				width: fit-content;
				span {
					color: var(--error);
					font-size: 18px;
					display: block;
				}
			}
		}
	}


}